body{
    font-family: playfair-display,serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
.logo{
    color: #C1C1C1;
    background-color: #1f4a34;
    padding: 5px 25px 5px 25px;
    margin-left: 10px;
}
.container{
    padding: 0;
    margin: 0 auto;
    text-decoration: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    background-color: #3a9164;
    width: 100%;
}
    .header #project{
        color: #030303;
    }
    .header a{
        text-decoration: none;
    }
.browser-nav{
    padding: 0;
    display: flex;
    height: 30px;
    margin: 1%;
}
.nav-menu{
    margin: 0;
    display: flex;
    list-style: none;
}
.nav-menu-item{
    margin: 0 10px;
}
#search{
    color: #daeae2;
}
main{
    width: 90%;
    margin: 0 auto;
}
.inputCont label{
    display: block;
    font-size:xx-large;
    margin: 15px 0;
}
.inputCont input{
    background-color: #e4e5e4;
    border-radius: 0%;
    border: 0;
    width: 300px;
    height: 25px;
    margin: 0 200px 0 0;
}
#registrate{
    font-size: smaller;
    margin: 20px 0;

}

.footer{
    position: absolute;
    bottom: 0;
    width: 98.7%;
    background-color: #3a9164;
    padding: 0 10px;
    margin: 0 auto ;
    text-decoration: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer a{
    text-decoration: none;
}
.footer #contact{
    color: #030303;
}
.footer h3{
    padding: 0 0 0 25px;
}
.logo1{
    color: #C1C1C1;
    background-color: #1f4a34;
    padding: 5px 25px 5px 25px;
    margin: 1%;
}
.imgP{
    padding: 0;
    display: inline;
    height: 30px;
    margin-top: 100px;
}